@import "partials/*";

* {
  margin: 0;
  font-family: $third-font;
}
 
// mobile first sass

//header
a {
  height: 350px; 
  width: 350px;
  margin-left: 40px;
  padding: 0px;
}

#header {
  padding-top: 10px;
  margin-bottom: 0px;
  height: 40vh;
  background-color: $first-color;

  h2 {
    display: inline;
    width: 0px;
  }

  #logo1 {
    font-family: $first-font; 
    font-weight: 300;
    font-size: 32px;
    margin-left: 15vw;
  }

  #logo2 {
    font-family: $second-font;
    font-size: 30px;
  }

  img {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-top: 5px;
  }
}

//about accordion
.accordion {

  li, h4 {
    font-family: $first-font;
    font-weight: 300;
    font-size: 16px;
    list-style: none;
    margin-left: 25px;

  }

  .accordion-control {

    background-color: $first-color;
    color: white;
    padding: 18px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: $first-font;
    width: 200px;
    margin-left: 3vw;
    
    &:hover{
      border-bottom: 1px solid white;
     }
  }
  
  .accordion-panel {
    display: none;
    background-color: $first-color;
    position: relative;
    z-index: 3;

  }

}

//Google Map

.wrapper {
  background-color: $second-color;    
  height: 100vh;
  padding-top: 50px;


  #map-canvas {
    height: 80vh; 
    width: 80vw;
    margin-bottom: 40px;
    margin-left: 30px;
    padding: 0px;
    border: 1px solid black;
  }

  #panel {
    position: absolute;
    top: 42vh;
    left: 50vw;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }
}

//redirect button
a.new-button, a.back-button {
  background-color: $first-color;
  color: white;
  padding: 18px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: $first-font;
  text-decoration: none;
  margin-left: 10vw;

  &:hover {
    border-bottom: 1px solid $first-color;
  }
}


// Google Maps API - Places
.wrapper2{
  padding-top: 220px;
  background-color: $second-color;
  height: 115vh;
}

#gmap_canvas {
    /*position: relative;*/
    height: 80vh; 
    width: 80vw;
    margin-top: 90px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 0px;
    clear: left;
    border: 1px solid black
}
.actions {
    background-color: #FFFFFF;
    bottom: 14vh;
    padding: 5px;
    position: absolute;
    right: 20vw;
    z-index: 2;
    width: 265px;
    height: 290px;
    border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.actions label {
    display: block;
    margin: 2px 0 5px 10px;

}
.actions input, .actions select {
    width: 85%;
}
.button {
  float: left;
}

.button:hover {
  border-bottom: 1px solid black;
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
  box-shadow: inset 0 1px 0 0 #f2f2f2;
  color: #163659;
  cursor: pointer;
}

.button:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}
.button_wrapper1, .button_wrapper2{
  float: left;
}

//breakpoints
@media all and (min-width: 650px) {

  #header{
    height: 300px;

    h2#logo1 {
      margin-top: 0px;  
      margin-left: 35vw;
      font-size: 60px;
    }

    h2#logo2 {
      font-size: 60px;
    }

    img {
      height: 40px;
      width: 40px;
      margin-left: 0px;
      margin-top: 5px;
    }
    
  }    
  
  .accordion {
    
    margin-left: 29vw;

    li, h4 {
      font-family: $first-font;
      font-weight: 300;
      font-size: 18px;
      list-style: none;
      margin-left: 25px;
    }
    .accordion-control {
      width: 160px;
      margin-left: 9vw;
    }
  }

  .wrapper {
    height: 120vh; 

    #map-canvas {
      margin-left: 10vw;
      height: 80vh;
      width: 80vw;
    }

    #panel {
      top: 47vh;
      left: 50%;
    }
  }

  a.new-button {
  margin-left: 10vw;

    &:hover {
      border-bottom: 1px solid white;
    }
    
  }  
  .wrapper2 {
    padding-top: 220px;
    height: 125vh;
  }

  #gmap_canvas{
    margin-left: 10vw;
    height: 80vh;
    width: 80vw;
  }

  .actions{
    width: 25vw;
    height: 40vh;
    padding: 10px;
    bottom: 10vh;
    right: 34vw;
  }

}

