@import "partials/*";

* {
  margin: 0;
}

#header {
  padding-top: 10px;
  margin-bottom: 0px;
  height: 120px;
  background-color: rgb(54, 159, 92);

 h2 {
  display: inline;
  width: 0px;

  }

  #logo1 {
    font-family: $first-font; 
    font-weight: 300;
    font-size: 32px;
    margin-left: 80px;
  }

  #logo2 {
    font-family: $second-font;
    font-size: 30px;
  }

  img {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-top: 5px;
  }
}

.wrapper {
  background-color: rgb(158, 210, 208);    
  height: 600px;
  padding-top: 50px;


  #map-canvas {
    height: 350px; 
    width: 350px;
    margin-left: 40px;
    padding: 0px;
  }

  #panel {
    position: absolute;
    top: 70px;
    left: 240px;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }
}