html, body, #map-canvas {
  /*height: 100%; */
  height: 70%; 
  width: 70%;
  margin: 0px;
  padding: 0px
  margin-left: 3000px;
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}